body {
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: rgb(248, 243, 234);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo-imagem{
    color: green;
    font-size: 30px;
    align-self: center;
    padding-right: 15px;
}

.logo-h1{
    align-self: center;
}
.botoes-home{
    display: flex;
    flex-direction: row;
    margin: 20px;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    align-self: center;
    padding: 15px;
    margin: 6px;
}

.home, .sobre, .contato, .blog, .carreira, .cadastre-se {
    margin: 2px;
    padding: 10px;
    align-self: center;
}

.sobre, .cadastre-se{
    background-color: green;
    color: #fff;
}

.cadastre-se{
    border-radius: 10px;
}