@font-face {
    font-family: 'interregular';
    src: url(../assets/fonts/static/Inter-Regular.ttf);
}

body {
    background-color: hsl(0, 0%, 8%);
    font-family: 'interregular', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
}

.card,.header-card {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(0, 0%, 100%);
    border-radius: 15px;
}


img {
    border-radius: 50%;
    margin: 20px;
}

.nome-header{
    font-size: 20px;
}

.cidade {
    color: hsl(75, 94%, 57%);
}

.frase-header{
    margin: 15px;
}

.card {
    width: 350px;
    height: 620px;
}

.botoes-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 292.5px;

}


.github, .frontend-mentor, .linkedin, .twitter, .instagram {
    padding: 10px;
    margin: 10px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    width: 100%;
    text-align: center;
    
}

a {
    text-decoration: none;
}

a:visited {
    color: hsl(0, 0%, 100%);
}

a:hover{
    background-color: hsl(75, 94%, 57%);
    color: #000000;
}

